@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
* {
    font-family: 'Poppins',sans-serif;
}

body {
    /* background-color: #2C75FF; */
    background-color: #F7F7F7;
    margin:0;
}
