@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300;400&display=swap');

* {
    font-family: 'Rubik';
}

body {
    /* background-color: #2C75FF; */
    background-color: #F7F7F7;
    margin:0;
}
