
.banner_container {
    display: grid;
    grid-template-areas:
    "pic"
    "name"
    "role"
    "cv";
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

@media (min-width:640px) {
    .banner_container {
        grid-template-areas:
        "name pic"
        "role pic"
        "cv pic";
    }
}

.banner_picture {
    grid-area: pic;
    display: grid;
    justify-content: center;
    align-items: center;
}
.banner_img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

.banner_name_wrapper {
    grid-area: name;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}

.banner_name {
    font-weight: 800;
    font-size: xx-large;
    animation: animate 3s linear infinite;
}
@keyframes animate {
    100%
    {
        color: #1565c0;
    }
}

.banner_role_wrapper {
    grid-area: role;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.banner_cv {
    grid-area: cv;
    display: grid;
    justify-self: center;
    align-self: center;
}



.banner_role_wrapper {
    font-size: x-large;
    font-weight: 400;
}

.banner_role_wrapper .banner_role_dynamic_text {
    margin-left: 7px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}

.banner_role_dynamic_text{
    margin:0;
    padding:0;
}

.banner_role_dynamic_text li {
    color: #1565c0;
    list-style: none;
    font-size: x-large;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 3s steps(3) infinite;
}

@keyframes slide
{
    100%{
        top:-100px;
    }
}

.banner_role_dynamic_text li span{
    position: relative;
}

.banner_role_dynamic_text li span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid black;
    background: #FFFF;
    left:0;
    animation: typing 1s steps(10) infinite;
}
@keyframes typing
{
    40%,60%{
        left:100%;
    }
    100%{
        left:0;
    }
}

