.banner {
  display: grid;
  grid-template-areas:
    "pic"
    "name"
    "role"
    "cv";
  padding: 6px;
  max-width: 1200px;
  text-align: center;
  margin: 120px auto 208px auto;
  grid-template-columns: repeat(1, 1fr);
}

.banner__picture {
  grid-area: pic;
  display: grid;
  justify-self: center;
}

.banner__picture--img {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

.banner__name {
  grid-area: name;
  display: grid;
  letter-spacing: 4px;
  font-size: 1rem;
  margin-top: 24px;
}

.banner__name--item {
  margin: 0px;
}

.banner__name--item-fullname {
  margin: 12px;
  font-weight: 800;
  font-size: 2rem;
  animation: animate 4s linear infinite;
}

.banner__cv {
  grid-area: cv;
  display: grid;
  justify-self: center;
  font-size: 1rem;
  background: linear-gradient(90deg, #1976d2, #42a5f5);
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.banner__cv:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #42a5f5, #1976d2);
}

.short-right-border {
  display: inline-block;
  margin-left: 5px;
  height: 1em;
  vertical-align: middle;
  position: relative;
}

.banner__role {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.banner__role-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(20) forwards;
  width: fit-content;
  font-size: 1rem;
}

.short-right-border::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: white;
  animation: typing-blink 0.8s steps(1) infinite;
}

@media (min-width: 813px) {
  .banner {
    grid-template-areas:
      "name pic"
      "role pic"
      "cv pic";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 240px auto 208px auto;
  }

  .banner__picture--img {
    max-width: 350px;
    max-height: 350px;
  }

  .banner__name--item {
    font-size: 2rem;
  }

  .banner__name--item-fullname {
    font-size: 3rem;
  }

  .banner__role-container {
    font-size: 2rem;
  }

  .banner__cv {
    font-size: 1.2rem;
  }

  .short-right-border {
    height: 2rem;
  }
}

@keyframes animate {
  50% {
    color: #1976D2;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 14ch;
  }
}

@keyframes typing-blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}
